<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.6/dist/htmx.min.js"></script>
    <style>
        body {
          font-family: Verdana, 'Lucida Sans', sans-serif;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div style="background-color: maroon; width: 100%; height: 3em; color: white; display: flex; justify-content: space-between; align-items: center;">
            <span style="margin-left: 1em; font-weight: bold;">STAFF OCRA CHECKER</span>
            <span style="margin-right: 1em;">Welcome {{ username }}</span>
        </div>
        {% block header %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% block extra_body %}{% endblock %}
</body>
</html>
